/** About me */
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    margin-top: 20px;
    background-color: #6d6bae;
    box-shadow: 0px 10px 15px #7072b4;
}

.about-section>.content>p {
    text-align: justify;
    margin: 10px;
}

.about-section>.content>img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: 5px 5px 15px white;
    margin: 20px;
}

.text-about {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #b5b4fc;
    font-size: 20px;

}

.tech-container{
    text-align: center;
}

.tech-card {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow:#f6eaff;
}