/** Projects */
.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

.projects-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 5px #b5b4fc;
    border-radius: 15px;
    padding: 10px;
}

.projects-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-card {
    display: inline-block;
    box-shadow: 2px 2px 20px #b5b4fc;
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    text-align: left;
    background: white;
}

.img-project {
    max-width: 445px;
    height: 280px;
}

.project-card>.technologies {
    padding: 4px;
    margin: 4px;
    text-align: center;
}

.project-card>a {
    text-decoration: none;

}

@media screen and (max-width: 1378px) {
    .projects-section {

    }
}