/** Tools */
.tools-card {
    display: inline-block;
    box-shadow: 2px 2px 20px #b5b4fc;
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    text-align: left;
    background: white;
}

.tools-card>img {
    width: 100px;
    height: 100px;
}

.tools-section {
    text-align: center;
    padding: 40px 0px;
    background: #6d6bae;
    box-shadow: 0px 10px 25px #7072b4;

}