{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static "/css/base.css" %}">
    <link rel="stylesheet" href="{% static "/css/header.css" %}">
    <link rel="stylesheet" href="{% static "/css/footer.css" %}">
    <link rel="stylesheet" href="{% static "/css/section/about.css" %}">
    <link rel="stylesheet" href="{% static "/css/section/skills.css" %}">
    <link rel="stylesheet" href="{% static "/css/section/lenguages.css" %}">
    <link rel="stylesheet" href="{% static "/css/section/frameworks.css" %}">
    <link rel="stylesheet" href="{% static "/css/section/tools.css" %}">
    <link rel="stylesheet" href="{% static "/css/section/contact.css" %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap"
        rel="stylesheet"
    />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <section class="navbar">
        <nav>
          <a href="{% url "home" %}">About</a>
          <a href="{% url "contact" %}">Contact</a>
          {% comment %} <a href="index.html">Contact</a> {% endcomment %}
        </nav>
    </section>

    {% block content %}
    
    {% endblock content %}

    <footer class="footer"></footer>

    {% comment %} <script src="{% static '/js/main.js' %}"></script> {% endcomment %}
</body>
</html>